# Machine Learning Pipeline and Results

In [1]:
import pandas as pd

from src.ml_model import ModelPipeline

In [5]:
# Import dataframe 

df = pd.read_excel("Data/CustomerChurn_Transformed.xlsx")
df.drop(columns="Unnamed: 0", inplace=True)
df.shape

(7032, 19)

In [6]:
df.head(5)

   Senior Citizen  Partner  Dependents  ...  Monthly Charges  Total Charges  Churn
0               0        1           0  ...         0.115423       0.001275      0
1               0        0           0  ...         0.385075       0.215867      0
2               0        0           0  ...         0.354229       0.010310      1
3               0        0           0  ...         0.239303       0.210241      0
4               0        0           0  ...         0.521891       0.015330      1

[5 rows x 19 columns]

In [13]:
# Initialize class for machine learning and data viz operations

evaluation_pipeline = ModelPipeline(df, 'Churn')

In [14]:
# Models to performe

evaluation_pipeline.models

{'RandomForest': RandomForestClassifier(random_state=59),
 'XGBoost': XGBClassifier(base_score=None, booster=None, callbacks=None,
               colsample_bylevel=None, colsample_bynode=None,
               colsample_bytree=None, device=None, early_stopping_rounds=None,
               enable_categorical=False, eval_metric=None, feature_types=None,
               gamma=None, grow_policy=None, importance_type=None,
               interaction_constraints=None, learning_rate=None, max_bin=None,
               max_cat_threshold=None, max_cat_to_onehot=None,
               max_delta_step=None, max_depth=None, max_leaves=None,
               min_child_weight=None, missing=nan, monotone_constraints=None,
               multi_strategy=None, n_estimators=None, n_jobs=None,
               num_parallel_tree=None, random_state=None, ...),
 'LogisticRegression': LogisticRegression(max_iter=1000)}

## Modelling without handling imbalanced lale