# Import Libraries and Datasets

In [2]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [6]:
# Import Datasets

df_demographics = pd.read_excel("Data/Telco_customer_churn_demographics.xlsx")
df_location = pd.read_excel("Data/Telco_customer_churn_location.xlsx")
df_population = pd.read_excel("Data/Telco_customer_churn_population.xlsx")
df_services = pd.read_excel("Data/Telco_customer_churn_services.xlsx")
df_status = pd.read_excel("Data/Telco_customer_churn_status.xlsx")
df_churn = pd.read_excel("Data/Telco_customer_churn.xlsx")

# Exploratory Data Analysis

## Demographics info

In [7]:
df_demographics.head()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1